@font-face {
   font-family: 'Open Sans Light';
   font-style: normal;
   font-weight: 300;
   src:url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 62.5%;
    color: #777777;
}

.introPage {
	height: 100%;
	width: 100%;
	position: relative;
}

.projectsPage {
	height: 100%;
	width: 100%;
	background-color: #F0F0F0;
}

.contactPage {
	height: 100%;
	width: 100%;
}

.introText {
	text-align: center;
	position: absolute;
	top: 31%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.aboutText {
	text-align: center;
	position: absolute;
	top: 31%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.reachOutText {
	text-align: center;
	position: absolute;
	top: 31%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.introLine {
	font-size: 4.5rem;
	line-height: 20%;
}

.introLineSecondary {
	font-size: 2.2rem;
	font-weight: 300;
}

.navBar {
	display: flex;
	flex-direction: row;
	font-size: 1.9rem;
	margin-left: 72%;
	position: absolute;
	top: 3.5%;
}

#work {
	transition: color 0.2s ease;
}

#work:hover {
	cursor: pointer;
	color: #009EDB !important;
}

#reachOut {
	transition: color 0.2s ease;
	margin-left: 1.9rem;
}

#reachOut:hover {
	cursor: pointer;
	color: #009EDB !important;
}

.downArrowContainer {
	text-align: center;
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.downArrow {
	cursor: pointer;
	font-size: 4rem !important;
}

.upArrow {
	cursor: pointer;
	font-size: 3.5rem !important;
	position: fixed;
	right: 5px;
	bottom: 5px;
}

/*utility classes*/

.blueText {
	color: #009EDB;
}

.italicText {
	font-style: italic;
}

.lightText {
	font-weight: 100;
}

.semiBoldText {
	font-family: 'Open Sans';
	font-weight: 600;
}
